* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  background: #1f2933;
  color: #fff;
  padding: 20px 0;
}

nav {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}

nav h1 {
  font-size: 26px;
}

.subtitle {
  font-size: 14px;
  color: #cbd5e1;
  margin: 5px 0 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* CONTAINER */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  margin-bottom: 15px;
  color: #1f2933;
}

/* HABILIDADES */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  list-style: none;
  background: #1f2933;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
}

/* PROJETOS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}

/* CONTATO */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

input,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #1f2933;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #374151;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #1f2933;
  color: #fff;
  margin-top: 40px;
}

.profile-pic {
  width: 180px;      /* tamanho equilibrado */
  height: 220px;     /* altura proporcional */
  object-fit: cover;
  border-radius: 10px; /* leve arredondado */
  margin-bottom: 15px;
}
.video-projeto {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}

.img-projeto {
  width: 100%;
  border-radius: 10px;
  margin: 10px 0;
}
